main {
  background-color: #ebeff9;
  opacity: 0.83;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.box {
  height: 340pt;
  width: 90%;
  background-color: #ffffff;
  opacity: 1;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 13pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

h3 {
  color: #45598d;
  font-weight: bold;
  font-size: 17pt;
  text-align: center;
  margin-top: 20px;
}

p {
  color: #45598d;
  font-weight: 400;
  font-size: 10pt;
  margin: auto;
  margin-top: 20px;
  width: max-content;
  /* border: 3px solid red; */
}

.row {
  /* border: 3px solid red; */
  width: 100%;
}

.p {
  margin-top: 50px;
}

table {
  /* border: 3px solid blue; */
  margin: auto;
  margin-top: 0px;
}

tr span {
  width: max-content;
  text-align: center;
  display: flex;
  color: #45598d;
}

li button {
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  /* border: 2px solid red; */
}

li a span,
li button span {
  font-size: 11pt;
  font-weight: 600;
}

.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 30px;
  margin-top: 50px;
}

.button button {
  border: 2px solid #5974b7;
  width: 40%;
  height: 29pt;
}

button span {
  text-align: center;
  color: #45598d;
  font-size: 12pt;
}

@media only screen and (min-width: 648px) {
  .button button {
    width: 200px;
  }

  h3 {
    margin-top: 50px;
  }
}
