main {
  background-color: #ebeff9;
  opacity: 0.83;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.box {
  height: 340pt;
  width: 90%;
  background-color: #ffffff;
  opacity: 1;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 13pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

h3 {
  color: #45598d;
  font-weight: bold;
  font-size: 17pt;
  text-align: center;
  margin-top: 20px;
}

p {
  color: #45598d;
  font-weight: 400;
  font-size: 10pt;
  margin: auto;
  margin-top: 20px;
  width: max-content;
  /* border: 3px solid red; */
}

.row {
  /* border: 3px solid red; */
  width: 100%;
}

.p {
  margin-top: 50px;
}

button {
  background-color: #45598d;
  border: none;
  width: 150px;
  height: 35px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  opacity: 1;
}

button span {
  color: #ebeff9;
  text-align: center;
}

table {
  /* border: 3px solid blue; */
  margin: auto;
  margin-top: 0px;
  margin-left: 30px;
}

.dropdown-toggle {
  align-items: center;
}

a {
  text-decoration: none;
}

tr span {
  width: max-content;
  text-align: center;
  display: flex;
  color: #45598d;
}
