main {
  background-color: #ebeff9;
  opacity: 0.83;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.box {
  height: 340pt;
  width: 90%;
  background-color: #ffffff;
  opacity: 1;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 13pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

h3 {
  color: #45598d;
  font-weight: bold;
  font-size: 17pt;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

p {
  color: #45598d;
  font-weight: 400;
  font-size: 10pt;
  margin: auto;
  padding-top: 0px;
  width: max-content;
  /* border: 3px solid red; */
}

button {
  border: 2px solid #45598d;
  width: 150px;
  height: 35px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  opacity: 1;
}

button span {
  color: #45598d;
  text-align: center;
}

.radio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 0.5;
  /* margin-top: 15px; */
  /* border: 3px solid skyblue; */
}

input {
  height: auto;
  width: auto;
  border-radius: 50%;
}

label {
  font-size: 12pt;
  font-weight: 500;
  color: #45598d;
}

form div {
  margin-top: 35px;
  width: 45%;
}
