main {
  background-color: #ebeff9;
  opacity: 0.83;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.box {
  height: 667px;
  width: 98%;
  opacity: 1;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 13pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

h3 {
  color: #45598d;
  font-weight: bold;
  font-size: 17pt;
  text-align: center;
  margin-top: 20px;
}

form div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  align-self: flex-end;
  width: 85%;
}

select {
  float: right;
  margin: 0;
}

main .dd {
  /* height: 500px; */
}

@media only screen and (min-width: 510px) {
  input {
    height: 39pt;
    width: 85%;
  }
}

@media only screen and (min-width: 900px) {
  form {
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  h3 {
    font-size: 25px;
  }

  .box {
    overflow: hidden;
    height: 500px;
  }

  .form {
    height: 394px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
  }
}
